.Rproj.user
.Rhistory
.RData
.Ruserdata
LaRoche_Proposal-blx.bib
LaRoche_Proposal-concordance.tex
LaRoche_Proposal.bbl
LaRoche_Proposal.blg
LaRoche_Proposal.log
LaRoche_Proposal.run.xml
LaRoche_Proposal.synctex.gz
LaRoche_Proposal.tex
LaRoche_Proposal.toc
